body:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
}

body {
  text-align: center;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4rem;
  margin-top: 2%;
  color: #fef2bf;
}
#highScore {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  color: #fef2bf;
  margin-left: 4%;
  white-space: nowrap;
}
.score {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgba(102, 214, 190, 0.568);
  border-radius: 20%;
}

.game-over {
  /* background-color: red; */
  opacity: 0.8;
  background-image: linear-gradient(
    75.2deg,
    rgba(41, 196, 255, 1) -2.5%,
    rgba(255, 158, 211, 1) 55%,
    rgba(255, 182, 138, 1) 102.3%
  );
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.help {
  font-family: "Press Start 2P", cursive;
  color: aqua;
  text-align: justify;
  font-size: 0.8rem;
  padding: 0 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: calc(100vh - 180px);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer {
  height: 100px;
}
.social {
  margin-top: 2%;
  display: inline-flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-evenly;
}

.social > a > i {
  font-size: 2.8rem;
}

.fa-linkedin {
  color: skyblue;
}
.fa-github {
  color: slategray;
}
.fa-envelope {
  color: blueviolet;
}
